// Colors: 
// Tapa:#797670;
// Akaroa:#d8cbac ;
// Laser:#c7ae79 ;
// Cold Turkey:#c8b4bc;

// COLORS
$primary: #797670;
$secondary: #e7e4dd;
$tertiary: #d8cbac;
$Quaternary: #c7ae79;
$Quinary: #c8b4bc;